<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KNB</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div>
            <h1>STONE-SCISSORS-PAPER</h1>
        </div>
        <div>
            <h1>{{ score }}</h1>
        </div>
        <div class="header_index">
            <form method="POST">
                <input type="submit" name="operation" value="logout">
                <input type="submit" name="operation" value="history">
            </form>
        </div>
    </header>
    <main>
        <form method="POST">
            <div class="index">
                <label>Enter your sign</label>
            </div>
            <div class="index">
                <input type="submit" name="sign" value="🪨">
                <input type="submit" name="sign" value="✂️">
                <input type="submit" name="sign" value="🧻">
            </div>
        </form>
    </main>
    <footer>
        <h1>{{ result }}</h1>
    </footer>
</body>
</html>